In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [3]:
# Sorting the ages dataframe
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [5]:
# Finding minimum and maximum for ages dataframe
print(min(ages))
print(max(ages))

19
26

In [6]:
# Adding mimimum and maximum again in the ages dataframe
ages = [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [10]:
# Median age
import statistics as stats
print(stats.median(ages))

24.0

In [11]:
print(stats.mean(ages))

22.75

In [12]:
print(max(ages)-min(ages))

7

In [15]:
dog = {'name', 'color', 'breed', 'legs', 'age'}

In [36]:
student = {'first_name':'Saeed', 'last_name':'Akbari', 'gender':'Male', 'age': '27', 'marital status': 'Single',
'skills':'Python', 'country': 'USA', 'city':'Warrensburg', 'address':'xyz'}
student

{'first_name': 'Saeed',
 'last_name': 'Akbari',
 'gender': 'Male',
 'age': '27',
 'marital status': 'Single',
 'skills': 'Python',
 'country': 'USA',
 'city': 'Warrensburg',
 'address': 'xyz'}

In [25]:
len(student)

9

In [38]:
student['skills']

'Python'

In [39]:
print(type('skills'))

<class 'str'>

In [41]:
student = {'first_name':'Saeed', 'last_name':'Akbari', 'gender':'Male', 'age': '27', 'marital status': 'Single',
'skills':'Python, R, Java', 'country': 'USA', 'city':'Warrensburg', 'address':'xyz'}
student
student['skills']

'Python, R, Java'

In [42]:
print(student.keys())

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

In [43]:
print(student.values())

dict_values(['Saeed', 'Akbari', 'Male', '27', 'Single', 'Python, R, Java', 'USA', 'Warrensburg', 'xyz'])

In [52]:
tuple = ('Maryam', 'Safa', 'Miqdad')

In [55]:
siblings = tuple
siblings

('Maryam', 'Safa', 'Miqdad')

In [60]:
print(siblings.count('Maryam'))
print(siblings.count('Safa'))
print(siblings.count('Miqdad'))

1
1
1

In [61]:
print(1+1+1)

3

In [63]:
siblings = ('Maryam', 'Safa', 'Miqdad', 'Fatima', 'Jamil')
family_members = siblings

In [64]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [65]:
len(it_companies)

7

In [74]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add('Twitter')
it_companies.update(['Micron','AMD','Nvidia'])
it_companies.remove('AMD')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Micron',
 'Microsoft',
 'Nvidia',
 'Oracle',
 'Twitter'}

In [83]:
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [84]:
print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

In [85]:
print(A.issubset(B))

True

In [86]:
print(A.isdisjoint(B))

False

In [88]:
print(A^B)

{27, 28}

In [91]:
del (A)
del (B)

In [92]:
len(ages)

12

In [94]:
ages = set(ages)
ages

{19, 20, 22, 24, 25, 26}

In [95]:
len(ages)

6

In [96]:
_area_of_circle_ = 3.14*30**2
print(_area_of_circle_)

2826.0

In [97]:
_circum_of_circle_ = 2*3.14*30
print(_circum_of_circle_)

188.4

In [99]:
r = float(input ("radius: "))
print ("area " + str(r)  + str(3.14* r**2))

radius: 30
area 30.02826.0

In [100]:
str = input("Enter String: ").split()
print(set(str))

Enter String: I am a teacher and I love to inspire and teach people
{'I', 'a', 'teacher', 'and', 'to', 'love', 'am', 'teach', 'people', 'inspire'}

In [109]:
Name = 'Asabeneh'
Age = 250
Country = 'Finland'
City = 'Helsinki'
print(Name)
print(Age)
print(Country)
print(City)

Asabeneh
250
Finland
Helsinki

In [113]:
radius = 10                                 
area = 3.14 * radius ** 2         
print('Area of a circle with radius', radius, 'is', area, 'meters square')

Area of a circle with radius 10 is 314.0 meters square

In [ ]:
pound = int(input("Enter pound: "))
kg = 0.453592*pound
print(pound, 'is', kg, 'kg')